.game-img{
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.play-button{
    background-color: aqua;
    border: none;
    border-radius: 100px;
    height: 70px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    padding: 12px 24px; 
    background: #00f2ff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #08b5be, 0 0 #0c787e, 0 0 30px #26b5bc;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}  

.play-button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #00f2ff, 0 0 30px #00f2ff, 0 0 45px #00f2ff;
}

.p-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}